* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}
/* Heading section starts from here CSS */
header {
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
  /* padding-right: 120px;
  padding-left: 120px; */
}
.lotus-image {
  width: 400px;
  height: 500px;
  padding-top: 50px;
  padding-right: 220px;
}
.left-header {
  padding-left: 220px;
}
.left-header-heading {
  color: #272727;

  font-size: 50px;

  font-weight: 800;
  line-height: normal;
}
.left-header-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.btn {
  border-radius: 8px;
  background-color: #e55473;
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 700;
}
/* Our featured flower section CSS */
.featured {
  text-align: center;
}
.featured-heading {
  color: #272727;
  text-align: center;

  font-size: 30px;

  font-weight: 800;
  line-height: normal;
  padding-top: 130px;
}
/* Three main featured flower css */
.flower-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}
.flower {
  height: 450px;
}
.lotus-flower-img {
  width: 220px;
  height: 320px;
  border-radius: 450px 450px 0px 0px;
  background: rgba(167, 33, 98, 0.15);

  padding: 110px 60px 0px 60px;
}
.second-flower-img {
  width: 220px;
  height: 280px;
  /* border-radius: 400px 400px 0px 0px; */
  border-radius: 450px 450px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  /* padding: 20px 20px 20px 20px; */
  padding: 100px 60px 50px 60px;
}
.third-flower-img {
  /* width: 310px;
  height: 350px; */
  /* border-radius: 400px 400px 0px 0px; */
  width: 220px;
  height: 320px;
  border-radius: 450px 450px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  /* padding: 40px 20px 0 20px; */
  padding: 110px 60px 0px 60px;
}
.flower-container {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 100px;
}
.pink-heading {
  padding-top: 20px;

  text-align: center;
  text-decoration: underline;
}
/* Delivery and support CSS */
.delivery-support-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 200px;
  margin-top: 60px;
  /* margin-bottom: 60px; */
}
.delivery-des {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;

  font-size: 15px;

  font-weight: 600;
  /* line-height: 35px; */
  padding-top: 10px;
}
/* Sale container CSS */
.sale-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  height: 500px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-top: -100px;
}
.left-sale-heading {
  color: #272727;

  font-size: 40px;

  font-weight: 800;
  line-height: normal;
  padding-top: 10px;
  margin-bottom: 10px;
}
span {
  color: #e55473;
}
.rose {
  padding: 80px 300px 80px 80px;
}
.left-sale-container {
  padding-left: 280px;
}
/*instagram  */
.instagram {
  text-align: center;
  margin-bottom: -100px;
  margin-top: -25px;
}
.four-flowers {
  display: flex;
  justify-content: space-around;

  margin: 100px 200px;
  gap: 10px;
}
.my-flower {
  width: 24%;
}
/* Deals coupons Start CSS */
.deals {
  text-align: center;
  height: 400px;
  background-image: url("./Flower Asset/Rectangle\ 9.png");
  background-repeat: no-repeat;

  margin: 100px 200px 0px 200px;
}

.email {
  padding: 15px 300px 15px 15px;
  border-radius: 8px;
  background: #fff;
  border: none;
  margin-right: 20px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;

  font-size: 16px;

  font-weight: 400;
  line-height: normal;
}
/* Extra section CSS */
.new {
  margin-bottom: 100px;
}
.new {
  background-image: url("./Flower Asset/extra pic/offer.jpg");
  background-size: cover;
  background-repeat: no repeat;
  border-radius: 15px;
  background-repeat: no-repeat;
}
.white-co {
  color: rgb(115, 99, 99);
}

/* footer section CSS */
footer {
  text-align: center;
  height: 320px;
  background-color: #111010;
  color: #fff;
  padding-top: 120px;
  margin-top: 50px;
  /* padding-bottom: 120px; */
}
#footer-heading {
  font-size: 48px;

  font-weight: 800;
}
#footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;

  font-size: 18px;

  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#trademark {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;

  font-size: 15px;

  font-weight: 400;
  line-height: normal;
  margin-bottom: 120px;
}
